* {
    margin: 0;
    padding: 0;
}

fieldset{

  margin: 2em 0;
  padding: 2em 4em;
  border: solid 1px#ccc;
  border-radius: 16px;
  min-width: 200px;

}

legend{

  padding: 0 .25em;
  
}

h1{
  text-align: center;
  color: mediumseagreen;  
}

button{

  font-size: 18;
  background-color: gray;
  padding: 8px 16px;
  border: none;
  color: white;
  margin-bottom: 1rem;
  
}

.itemInput{

    border-radius:10px;
    padding-left:10px;
    font-size: 15px;
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 17px;
    border-style: solid;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  
}

input {

    border-radius:10px;
    padding-left:10px;
    font-size: 15px;
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 17px;
    border-style: solid;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  
}


.itemInput , input, textarea {
  font-family:inherit;
  font-size: inherit;
  
}

/*.list-style{
  display: flex;
  flex-direction: column;
  text-align: center;
  font: bold;
  border: 1px solid mediumseagreen;
  padding: 10px;
  width: 200px;
  height: 200px;

}
*/

.button-style{
  display: flex;
  justify-content: space-between;
  margin: 5px;
  position: relative;
  padding: 1rem;
  margin-bottom: 1rem;
}


.cancel{

  background-color: white;


  color: blue;
  float:left;

}


label {
  color: mediumseagreen; 
  font-weight: bold;
  display: block;
  width: 150px;
  padding: 4px 8px;
  margin-bottom:15px;
  }

  textarea{
    
    border-radius:10px;
    font-size: 15px;
    padding: 4px 8px;
    flex-grow: 1;
    margin-right: 16px;
    border-style: solid;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);

  }
